header{
  min-height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 

  background-image: url('../../../public/media/bg-header.jpg');
  background-size: cover;
  background-position: center;
  padding-bottom:4em ;
  h1{
    margin: 2em;
    font-size: 300%;
  }
}