table{
  border: 2px solid lightgray;
  margin-top: 2em;
  

  tr{
    border: 2px solid lightgray;
  }
  td{
    border: 2px solid lightgray;
    padding: 1em;
  }
  th{
    border: 2px solid lightgray;
    padding: 1em;
  
  }


}

.here{
  background-color: #008170;
}

.not-here{
  background-color: #CD1818;
}