.modal {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.2); 
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 999;
  text-align: center;

  &-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5C469C;
    padding: 3em;
    border-radius: 3em;

    form{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      align-content: center;
      max-width: 60%; 
    }

  }
}